[Unit]
Description = InPanel

[Service]
Type = simple
User = root
Group = root
PIDFile = /var/run/inpanel.pid
ExecStart = /usr/bin/python /usr/local/inpanel/inpanel.py
StartLimitInterval = 30min

[Install]
WantedBy = multi-user.target

# /lib/systemd/system/inpanel.service
# systemctl start inpanel.service && systemctl enable inpanel.service
